@import url(fonts/font-style.css);

:root {
  --primary-red: #ba0000;
  --secondary-red: #be5e01;
  --primary-blue: #000196;
  --secondary-blue: #3c81af;
  --alpha-green: #198011;
  --A-yellow: #ffcd72;
  --B-brown: #3a2500;
  --beta-purple: #6b0041;
  --primary-bg: #fff6f2;
  --ff-primary: HKGrotesk;
}

html {
  font-family: var(--ff-primary), sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--primary-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-red);
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END OF CSS RESET */
body{
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--primary-bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-red);
}


#navbar{
  padding: 1rem;
  position: fixed;
  width: 20vw;
  height: 95vh;
  background-color: var(--primary-red);
}

#nav-list {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.nav-link {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 0.35rem;
  font-size: 1.5rem; 
  color: var(--primary-bg);
  background-color: var(--primary-red);
  text-decoration: none;
  transition: 0.6s; 
}

.nav-link:hover, .nav-link:active, .active {
  color: var(--primary-red);
  background-color: var(--primary-bg);
}

#main-content{
  float: right;
  width: 80vw; 
  height: 100vh;
}

footer {
  box-shadow: 0 8px 100px 2px var(--alpha-green);
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.6s opacity, 0.6s height;
  align-items: center;
  color: #ffffff;
  background-color: var(--alpha-green);
}

.footer-js {
  opacity: 0.7;
  height: 5vh;
  justify-content: center;
}

.footer-js-click{
  height: 30vh;
  opacity: 1;
  justify-content: flex-start;
  padding: 1rem;
}

.footer-js:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

#footer-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

#arrow-svg {
  fill: var(--primary-bg);
}

#footer-content{
  display: none;
}

.footer-grid{
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0.75rem;
}

.footer-column{
  display: flex;
  flex-direction: column;
}

.footer-column-heading{
  text-align: center;
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: var(--primary-bg);
  color: var(--alpha-green);
}

.footer-para{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}

.contact{
  margin-left: 3px;
}

#blur-me {
  width: 100%;
  min-height: 100vh;
}

.blur {
  background-color: var(--primary-bg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }

}

@media only screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }

  #navbar{
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 1.5s;
  }

  #nav-list{
    align-items: flex-start;
  }

  .nav-link{
    font-size: 3.5rem;
  }

  #logo-header {
    width: 8rem;
  }

  #logo {
    height: 100%; 
    width: 100%; 
    object-fit: contain;
  }

  .responsive-invisible {
    display: none;
  }
  
  .menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 10vh;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  .menu-btn-burger{
    width: 35px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn-burger::before, .menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .menu-btn-burger::before{
    transform: translateY(-12px);
  }

  .menu-btn-burger::after{
    transform: translateY(12px);
  }

  .menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn-burger:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn-burger:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .footer-grid{
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0.75rem;
  }

  .footer-js-click{
    max-height: 90vh;
    height: 100%;
    opacity: 1;
    justify-content: flex-start;
    padding: 1rem;
  }

  .footer-column-heading {
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
  }

  .footer-column-heading h3{
    font-size: 3rem;
    text-indent: 30px;
  }

  .footer-para {
    display: none;
  }

  .blur {
    background-color: none;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  .plus-holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
  }

  .plus {
    display: block;
    width: 3px;
    height: 60%;
    background: green;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .plus::before {
    display: block;
    content: '';
    width: 3px;
    height: 100%;
    background: green;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform: rotate(90deg);
  }

  .plus-holder.open .plus {
    transform: translateY(-50px);
    background: transparent;
    box-shadow: none;
  }

  .plus-holder.open .plus:before{
    transform: rotate(90deg) translateX(50px);
  }
}